.logo-container {
  z-index: 0;
  width: 500px;
  height: 600px;
  position: absolute;
  top: 0;
  right: 15%;
  bottom: 15%;
  left: auto;
  margin: auto;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
    transform: rotateZ(15deg) !important;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    transform: rotateZ(15deg) !important;
    z-index: 1;
  }

  .svg-container {
    stroke: #182c61;
    stroke-width: 1;
  }

  .solid-logoW {
    position: absolute;
    margin-top: 50px;
    display: flex;
    right: 0;
    width: 600px;
    opacity: 0;
  }
}

@media (max-width: 1300px) {
  .logo-container {
    width: 350px;
    height: 430px;

    .solid-logoW {
      width: 400px !important;
    }
  }
}

@media (max-width: 1024px) {
  .logo-container {
    width: 263px;
    height: 300px;

    .solid-logoW {
      width: 300px !important;
    }
  }

  .home-page .text-zone {
    width: 80%;
    min-height: 0;
  }
}

@media (max-width: 960px) {
  .logo-container {
    position: absolute;
    top: 0;
    bottom: -255px;
    width: 125px;
    height: 80px;

    .solid-logoW {
      margin-top: 5px;
      right: -30px;
      width: 200px !important;
    }
  }
}
