.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 58px;
    margin: 0;
    font-family: 'Coolvetica';
    font-weight: 400;

    &::before {
      content: '<h1>';
      font-family: 'La Belle Aurore';
      color: #fa8231;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: 15px;
      opacity: 0.7;
    }

    &::after {
      content: '</h1>';
      font-family: 'La Belle Aurore';
      color: #fa8231;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 20px;
      animation: fadeIn 1.2s 1.7s backwards;
      opacity: 0.7;
    }

    img {
      width: 50px;
      margin-left: 20px;
      margin-right: 2px;
      margin-bottom: -8px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #182c61;
    margin-top: 20px;
    font-weight: 500;
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #fa8231;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #fa8231;
    margin-top: 25px;
    float: left;
    animation: fadeIn 1.3s 1.8s backwards;
    white-space: nowrap;
    border-radius: 3px;

    &:hover {
      background: #fa8231;
      color: #182c61;
    }
  }
}
